.CarouselContainer{
margin:0 auto;
}
img {
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  img.ImgAnimation:hover {
    opacity:0;
  }