.button{
    display: inline-block;
    font-family: "Nexa-Heavy","Nexa-Bold",arial,helvetica,sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #004c81;
    height: 55px;
    line-height: 54px;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    border:1px  solid rgb(180, 172, 172);
    border-radius: 15px;
    background-color: #bededf;
    opacity: 0.6;
    cursor:pointer;
    transition: 0.3s;
} 
.Card{
  
    transform: rotateY(0deg);
    pointer-events: auto;
 

}

.H3Dec1{
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Roboto",sans-serif;

}